// COLORS

$color-primary: #1351d8;
$color-primary-light: #79a3ff;
$color-primary-dark: #0e45bb;

$color-white: #fff;
$color-black: #000;

$color-secondary: #852dff;
$color-secondary-light: #852dff;
$color-secondary-dark: #201449;

$color-grey-dark: #1f1f1f;

$color-white: #fff;
$color-black: #000;

//Breakpoints
$bp-1200: 75em; // 1200px
$bp-900: 56.25em; // 900px
$bp-750: 46.875em; // 750px
$bp-550: 34.375em; // 550px
$bp-450: 28.125em; //450px
$bp-400: 25em; // 400px